@font-face {
    font-family: 'Space Grotesk';
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: 'Polymath Demo Bold';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'Polymath Demo Semibold';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Semibold.otf) format("opentype");
}
@font-face {
    font-family: 'Polymath Demo Medium';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Polymath Demo Regular';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Polymath Demo Extralight';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-XLight.otf) format("opentype");
}
@font-face {
    font-family: 'Polymath Demo Thin';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Thin.otf) format("opentype");
}
html {
    background: "#FFFFFF";
}
body {
    background: #050505;
    width: 1920px;
    height: 1080px;
    transform-origin: left top;
    position: absolute;
    top: -13px;
    overflow: hidden;
    border: none;
    margin: none;
    padding: none;
    left: -0.9%;
}
.home {
    position: absolute;
    z-index: 4;
    width: 1920px;
    height: 1080px;
    left: 0;right: 0; bottom: 0; top: 0;    overflow: hidden;
}
.bg {
    width: 5513.428px;
    height: 1228.263px;
    flex-shrink: 0;
    position: absolute;
    left: -1620px;
    top: 0;
    opacity: 0.6;
}
.menu {
    position: absolute;
    z-index: 4;
}
.logo {
    position: absolute;
    left: 77px;
    top: 56px;
    transform: scale(1.3);
    cursor: pointer;
}
[id|="text-redir"] {
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 19.769px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    top: 64px;
    cursor: pointer;
}
[id|="icon"] {
    position: absolute;
    cursor: pointer;
}
[id$="projects"] {
    left: 210px;
}
[id$="events"] {
    left: 362px;
}
[id$="watchlist"] {
    left: 1613px;
    top: 57px;
}
#watchlist-bar {
    z-index: 10;
    display: none;
    position: absolute;
    left: 1338px;
    top: 110px;
    width: 326px;
    height: 226px;
    border-radius: 30px;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    opacity: 0.8;
}
#watchlist-wrap {
    display: none;
    position: absolute;
    background: linear-gradient(#595959, #383838);
    z-index: 9;
    opacity: 1;
    left: 1337px;
    top: 109px;
    width: 328px;
    height: 228px;
    border-radius: 30px;
}
.watchlist-text {
    position: absolute;
    left: 41px;
    top: 36px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.watchlist-pfp {
    position: absolute;
    top: 83px;
    left: 41px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #D9D9D9;
}
.watchlist-eve-name {
    position: absolute;
    top: 90px;
    left: 95px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.watchlist-eve-type {
    position: absolute;
    left: 95px;
    top: 106px;
    color: #C7C7C7;
    font-family: "Polymath Demo Thin";
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
}
[id$="chat"] {
    left: 1684px;
    top: 61px;
}
[id$="notifs"] {
    left: 1752px;
    stroke-width: 2px;
    stroke: #FFF;
    top: 59px;
}
.notifs svg {
    position: absolute;
}
#notifications-bar {
    z-index: 10;
    display: none;
    position: absolute;
    left: 1471px;
    top: 110px;
    width: 326px;
    height: 226px;
    border-radius: 30px;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    opacity: 0.8;
}
#notifications-wrap {
    display: none;
    position: absolute;
    background: linear-gradient(#595959, #383838);
    z-index: 9;
    left: 1469px;
    top: 109px;
    width: 329px;
    height: 228px;
    border-radius: 30px;
}
.notifications-text {
    position: absolute;
    left: 41px;
    top: 36px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.notification-pfp {
    position: absolute;
    top: 83px;
    left: 41px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #D9D9D9;
}
.sent-new-msg {
    position: absolute;
    top: 90px;
    left: 95px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.ago {
    position: absolute;
    left: 95px;
    top: 106px;
    color: #C7C7C7;
    font-family: "Polymath Demo Thin";
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
}
.pfp {
    position: absolute;
    left: 1819px;
    top: 48px;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #D9D9D9;
    z-index: 7;
    cursor: pointer;
}
.main-text {
    width: 1087px;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-family: "Polymath Demo Bold";
    font-size: 90.769px;
    font-style: normal;
    line-height: 77px; /* 84.83% */
    letter-spacing: -0.908px;
    position: absolute;
    left: 417px;
    top: 429px;
    z-index: 3;
}
.red-text {
    color: rgba(255, 0, 0, 0.95);
    font-family: "Polymath Demo Bold";
    font-size: 90.769px;
    font-style: normal;
    line-height: 77px;
    letter-spacing: -0.908px;
}
.text-down {
    position: absolute;
    left: 77px;
    top: 985px;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 16.769px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.402px;
    width: 664px;
    opacity: 0.9;
}
#discord {
    left: 1553px;
}
#resources {
    left: 1717px;
}
#discord,#resources {
    cursor: pointer;
    position: absolute;
    top: 965px;
    width: 134.663px;
    height: 48.446px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 0.5px solid #4f4f4f;
    color: #FFF;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 13.769px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.33px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    flex-direction: column;
}
[class|="search"] {
    position: absolute;
    flex-shrink: 0;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    flex-direction: column;
    z-index: 2;
    opacity: 0.7;
}
.search {
    left: 786px;
    top: 773px;
    width: 345px;
    height: 60px;
    border-radius: 23px;
}
[class|="src-wrap"] {
    position: absolute;
    background: linear-gradient(#595959, #383838);
    z-index: 1;
    opacity: 0.4;
}
.src-wrap {
    width: 347px;
    height: 62px;
    border-radius: 23px;
    left: 785px;
    top: 772px;
}
.src-icon {
    position: absolute;
    top: 19px;
    left: 15px;
    width: 22px;
    height: 22px;
    flex-shrink: 0; 
}
.placeholder {
    position: absolute;
    left: 58px;
    color: #484848;
    font-family: "Polymath Demo Medium";
    font-size: 13.769px;
    font-style: normal;
    line-height: normal;
    outline: none;
    border:none;
    background: transparent;
}
[class^="placeholde"]:focus {
    outline: none;
    background: transparent;
    color: #7e7e7e;
}

.cards {
    border-radius: 56.125px;
    position :absolute;
    flex-shrink: 0;
    z-index: 1;
    transform: rotate(0deg);
    opacity: 0.9;
}
#leftmost {
    width: 617.623px;
    height: 692.673px;
    left: 265px;
    top: 190px;
}
#middle {
    width: 373.27px;
    height: 442px;
    left: 777px;
    top: 230px;
    border-radius: 30px;
    z-index: 2;
}
#rightmost {
    width: 617.623px;
    height: 692.673px;
    left: 1044px;
    top: 190px;
    z-index: 2;
}
.sign-up {
    z-index: 4;
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;
    position: absolute;
    left: 11px;
    top: 2160px;
    overflow: hidden;
}
@keyframes sign-up {
    0% {
        top: 2160px;
    }
    99.9% {
        top: 9px;
    }
    100% {
        top: 9px;
    }
}
.sign-up .left-banner {
    position: absolute;
    left: -360px;
    top: -294px;
}
.right-of-image-part {
    position: absolute;
    z-index: 5;
    left: 958px;
    top: 0;
    width: 960px;
    height: 1080px;
    flex-shrink: 0;
    background: #050505;
}
#dtc-sign-up {
    position: absolute;
    left: 1345px;
    top: 135px;
    width: 207px;
    height: 18px;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: "Polymath Demo Semibold";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.528px;
    z-index: 6;
}
.top-text {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    top: 179px;
    color: #FFF;
    text-align: center;
    font-family: "Polymath Demo Semibold";
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
input[type="text"], input[type="password"], input[type="email"] {
    background: transparent;
    border: none;
}
.login input[type="text"], .login input[type="password"], .sign-up input[type="text"], .sign-up input[type="password"], .login input[type="email"], .sign-up input[type="email"] {
    width: 464px;
    height: 45px;
    flex-shrink: 0;
    border-bottom: #525252 3px solid;
    color: #C4C4C4;
    text-align: left;
    display: flex;
    vertical-align: top;
    justify-content:baseline;
    align-items:baseline;
    flex-direction: column;
    font-family: "Polymath Demo Regular";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    z-index: 6;
    left: 1208px;
    line-height: 18px;
}
input.primary {
    top: 257px;
}
input.secondary {
    top: 346px;
}
input.tertiary {
    top: 435px;
}
input.quarterly {
    top: 524px;
}
input[type="submit"]:hover {
    cursor: pointer;
}
input:focus, input:active {
    outline: none;
}
.terms {
    position: absolute;
    left: 1220px;
    top: 630px;
    color: #FFF;
    text-align: center;
    font-family: "Polymath Demo Medium";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
.red {
    color: #F00;
}
.join-btn, .login-btn {
    width: 397px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F8F8F8;
    color: #000;
    text-align: center;
    font-family: "Polymath Demo Regular";
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
    position: absolute;
    left: 1242px;
}
.join-btn {
    top: 701px;
}
.back {
    position: absolute;
    z-index: 6;
    left: 976px;
    top: 16px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    cursor: pointer;
}
@keyframes sign-up-back {
    0% {
        top: 9px;
    }
    99.9% {
        top: 2160px;
    }
    100% {
        top: 2160px
    }
}
.continue {
    position: absolute;
    z-index: 6;
    left: 1288px;
    width: 304px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #262626;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing:0.4px;
    cursor: pointer;
}
.continue svg {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 7;
}
.continue span {
    position: absolute;
    left: 84px;
    top: 14px;
}
#google-sign {
    top: 824px;
}
#discord-sign {
    top: 887px;
}
.login {
    z-index: 4;
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;
    position: absolute;
    left: 11px;
    top: 1080px;
    overflow: hidden;
}
.login .left-banner {
    position: absolute;
    left: -260px;
    top: -204px;
}
.forgot {
    position: absolute;
    left: 1330px;
    top: 456px;
    z-index: 6;
    color: #FFF;
    text-align: center;
    font-family: "Polymath Demo Regular";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}
@keyframes login {
    0% {
        top: -1080px;
    }
    99.9% {
        top: 9px;
    }
    100% {
        top: 9px;
    }
}
@keyframes login-back {
    0% {
        top: 9px;
    }
    99.9% {
        top: -1080px;
    }
    100% {
        top:-1080px;
    }
}
@keyframes projects-back {
    0% {
        left: 17px;
    }
    99.9% {
        left: -1980px;
    }
    100% {
        left: -1980px;
    }
}
.login-btn {
    top: 534px;
}
#google-log {
    top: 682px;
}
#discord-log {
    top: 745px;
}
.account {
    position: absolute;
    left: 1306px;
    top: 913px;
    color: #FFF;
    text-align: center;
    font-family: "Polymath Demo Regular";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
.projects {
    position: absolute;
    left: -1980px;
    width: 1920px;
    height: 1080px;
    background: #050505;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
    right: 10px;
    
}
::-webkit-scrollbar-thumb {
    background-color: #595959;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #262626;
}
@keyframes projects {
    0% {
        left: -1980px;
    }
    99.9% {
        left: 17px;
    }
    100% {
        left: 17px;
    }
}
.search-proj {
    left: 77px;
    top: 158px;
    width: 1452px;
    height: 78px;
    border-radius: 26.07px;
}
.src-wrap-proj {
    left: 76px;
    top: 157px;
    width: 1454px;
    height: 80px;
    border-radius: 26.07px;
}
.src-icon-proj {
    position: absolute;
    left: 39.5px;
    top: 25px;
}
.placeholder-proj {
    position: absolute;
    left: 98.01px;
    top: 28.82px;
    color: #484848;
    font-family: "Polymath Demo Regular";
    font-size: 17.524px;
    font-style: normal;
    line-height: normal;
    outline: none;
    border:none;
    background: transparent;
}
.dropdown, [class|="filter"] {
    position: absolute;
    flex-shrink: 0;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    flex-direction: column;
    z-index: 6;
    color: #F8F8F8;
    font-family: "Polymath Demo Regular";
    font-size: 19.524px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.195px;
    opacity: 0.7;
}
.dropdown svg {
    position: absolute;
    left: 168px;
    top: 37px;
    cursor: pointer;
}
[class|="filter"] svg {
    position: absolute;
    left: 24px;
    top:24px;
    cursor: pointer;
}
.drop-wrap, [class|="filter-wrap"] {
    position: absolute;
    background: linear-gradient(#595959, #383838);
    z-index: 1;
    opacity: 0.4;
}
.dropdown {
    left: 1544px;
    top: 158px;
    width: 215px;
    height: 78px;
    border-radius: 26px;
}
.drop-wrap {
    left: 1543px;
    top: 157px;
    width: 217px;
    height: 80px;
    border-radius: 26px;
}
.filter-proj {
    left: 1774px;
    top: 158px;
    width: 78px;
    height: 78px;
    border-radius: 26px;
}
.filter-wrap-proj {
    left: 1773px;
    top: 157px;
    width: 80px;
    height: 80px;
    border-radius: 26px;
}
.dropdown span {
    position: absolute;
    left: 38px;
    top: 28px;
    opacity: 0.8;
}
.featured {
    position: absolute;
    left: 77px;
    top: 279px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 27px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
}
.project-wrapper {
    position: absolute;
    left: 77px;
    top: 341px;
    width: 1920px;
}
.project {
    position: relative;
    width: 533.33331px;
    height: 419px;
    margin-right: 84px;
    margin-bottom: 47px;
    display: inline-block;
}
.project-img {
    position: absolute;
    width: 533.33331px;
    height: 300px;
    left: 0;
    top: 0;
}
[class$="tag"] {
    position: relative;
    margin-right: 11px;
    width: 94px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 411.722px;
    border: 0.412px solid #FFF;
    text-align: center;
    display: inline-flex;
    flex-direction :column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 12.207px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    opacity: 0.5;
    z-index: 6;
}
.project-tag {
    top: 311px;
    left: 0;
}
.project-name {
    position: absolute;
    left: 4px;
    top: 358px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.24px;
}
.project-favorite {
    position: absolute;
    top: 317px;
    right: 0;
}
.project-favcount {
    position: absolute;
    top: 347px;
    right: 0;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
}
.project-people {
    position: absolute;
    left: 0;
    top: 397px;
}
.project-pplmore {
    position: absolute;
    top: 401px;
    left: 47px;
    color: #939393;
    font-family: "Polymath Demo Regular";
    font-size: 9px;
    font-style: normal;
    line-height: normal;
}
.project-share {
    position: absolute;
    left: 509px;
    top: 389px;
}
.events {
    position: absolute;
    left: 1980px;
    top: 0;
    width: 1920px;
    height: 1080px;
    background: #050505;
    overflow-x: hidden;
    overflow-y: scroll;
}
@keyframes events {
    0% {
        left: 1980px;
    }
    99.9% {
        left: 17px;
    }
    100% {
        left: 17px;
    }
}
@keyframes events-back {
    0% {
        left: 17px;
    }
    99.9% {
        left: 1980px;
    }
    100% {
        left: 1980px;
    }
}
.event-banner {
    width: 1920px;
    height: 1120px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;    
}
.search-eve {
    left: 77px;
    top: 128px;
    width: 1679px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 26.067px;
    opacity: 0.7;
}
.src-wrap-eve {
    left: 76px;
    top: 127px;
    width: 1681px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 26.067px;
}
.src-icon-eve {
    position: absolute;
    left: 45.17px;
    top: 25px;
}
.placeholder-eve {
    position: absolute;
    left: 103.67px;
    top: 28.82px;
    color: #484848;
    font-family: "Polymath Demo Regular";
    font-size: 17.524px;
    font-style: normal;
    line-height: normal;
    outline: none;
    border:none;
    background: transparent;
}
.filter-eve {
    left: 1774px;
    top: 128px;
    width: 78px;
    height: 78px;
    backdrop-filter: blur(10px);
    border-radius: 26px;
}
.filter-wrap-eve {
    left: 1773px;
    top: 127px;
    width: 80px;
    height: 80px;
    border-radius: 26px;
}
.about-event {
    position: absolute;
    left: 1369px;
    top: 427px;
    width: 483px;
    height: 412px;
    flex-shrink: 0;
    border-radius: 26.067px;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.15) 1%, rgba(255, 255, 255, 0.15) 100%);
    backdrop-filter: blur(14.300000190734863px);
    fill-opacity: 0.15;
    z-index: 6;
}
.about-event-wrap {
    position: absolute;
    background: linear-gradient(#595959, #383838);
    z-index: 1;
    opacity: 0.4;
    left: 1368px;
    top: 426px;
    width: 485px;
    height: 414px;
    border-radius: 26.067px;
}
.about-event-text {
    position: absolute;
    left: 42px;
    top: 45px;
    color: #FFF;
    font-family: "Polymath Demo Extralight";
    font-size: 21.86px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.408px;
}
.about-event-description {
    position: absolute;
    left: 42px;
    top: 86px;
    width: 399px;
    color: #C1C1C1;
    font-family: "Polymath Demo Regular";
    font-size: 17px;
    font-style: normal;
    line-height: 120%; /* 20.4px */
    letter-spacing: 0.408px;
}
.about-event-attachments-txt {
    position: absolute;
    left: 42px;
    top: 268px; 
    color: #FFF;
    font-family: "Polymath Demo Extralight";
    font-size: 21.86px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.408px;
}
.about-event-attachments-file {
    position: absolute;
    left: 42px;
    top: 309px;
    width: 403px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 26.067px;
    background: linear-gradient(91deg, rgba(9, 9, 9, 0.40) 1%, rgba(7, 7, 7, 0.40) 100%);
    backdrop-filter: blur(10px);
}
.about-event-attachments-file-wrapper {
    position: absolute;
    left: 41px;
    top: 308px;
    width: 405px;
    height: 67px;
    border-radius: 26.067px;
    background: linear-gradient(#595959, #383838);
    z-index: 1;
    opacity: 0.4;
}
.about-event-attachments-file-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    left: 26px;
    top: 20px;
    opacity: 100%;
}
.about-event-attachments-file-name {
    position: absolute;
    left: 71px;
    top: 22px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 16.86px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.408px;
}
.about-event-attachments-file-download {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    position: absolute;
    left: 355px;
    top: 22px;
    cursor: pointer;
}
.event-tag {
    left: 78px;
    top: 514px;
}
.event-interested-count {
    position: absolute;
    left: 79px;
    top: 557px;
    color: #B4B4B4;
    font-family: "Polymath Demo Bold";
    font-size: 12.707px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.305px;
    z-index: 6;
}
.event-name {
    position: absolute;
    left: 77px;
    top: 560px;
    color: #FFF;
    font-family: "Polymath Demo Extralight";
    font-size: 68.524px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
.event-date-icon {
    position: absolute;
    left: 77px;
    top: 650px;
    width: 20px;
    height: 20px;
    z-index: 6;
}
.event-location-icon {
    position: absolute;
    left: 77px;
    top: 677px;
    width: 20px;
    height: 20px;
    z-index: 6;
}
.event-date {
    position: absolute;
    left: 111px;
    top: 652px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 13.524px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
.light-text {
    font-family: "Polymath Demo ExtraLight";
    z-index: 6;
}
.event-location {
    position: absolute;
    left: 111px;
    top: 679px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 13.524px;
    font-style: normal;
    line-height: normal;
    z-index: 6;
}
.event-details {
    width: 186px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 0.567px solid #595959;
    background: linear-gradient(91deg, rgba(9, 9, 9, 0.70) 1%, rgba(7, 7, 7, 0.70) 100%);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 77px;
    top: 720px;
    z-index: 6;
}
.event-details-txt {
    position: absolute;
    left: 50px;
    top: 19px;
    color: #FFF;
    font-family: "Polymath Demo Semibold";
    font-size: 15.86px;
    font-style: normal;
    line-height: normal;
}
.event-details-all {
    position: absolute;
    left: 124.18px;
    top: 21px;
    cursor: pointer;
}
.more-events {
    z-index: 6;
    position: absolute;
    top: 1028px;
    left: 912px;
    color: #FFF;
    font-family: "Polymath Demo Semibold";
    font-size: 23.524px;
    font-style: normal;
    line-height: normal;
}
.events-down-arrow {
    z-index: 6;
    position: absolute;
    top: 1058px;
    left: 953px;
}
.event-categories {
    position: absolute;
    top: 1165px;
    left: 47px;
    width: 1684px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 67px;
    background: #262626;
}
.event-category {
    display: inline-block;
    position: relative;
    left: 39px;
    top: 26px;
    margin-right: 58px;
    width: 182px;
    height: 25px;
    z-index: 8;
    cursor: pointer;
}
.event-category svg {
    position: relative;
}
.event-category span {
    position: absolute;
    left: 33px;
    color: #FFF;
    font-family: "Polymath Demo Semibold";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}

#assessments {
    bottom: 5px;
}
#icon-assessments {
    bottom: 2px;
}

.selected-category {
    width: 226px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 66px;
    opacity: 0.9;
    background: #050505;
    position: absolute;
    z-index: 7;
    left: 9px;
    top: 8px;
}

.other-event {
    display: inline-block;
    margin-left: 31px;
    position: relative;
    top: 1284px;
    left: -202px;
    width: 413px;
    height: 413px;
    border-radius: 20px;
    background: rgba(89, 89, 89, 0.40);
    z-index: 6;
}
.other-event-banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 413px;
    height: 112px;
    border-radius: 20px 20px 0px 0px;
    background: #515151;
}
.other-event-picture {
    width: 134px;
    height: 134px;
    background: #050505;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
    position: absolute;
    left: 23px;
    top: 24px;
    z-index: 8;
    border-radius: 100%
}
.other-event-status {
    position: absolute;
    left: 24px;
    top: 180px;
    color: #FFF;
    font-family: "Polymath Demo Semibold";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.other-event-name {
    position: absolute;
    left: 24px;
    top: 216px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 26px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.404px;
}
.other-event-description {
    position: absolute;
    left: 24px;
    top: 260px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 19px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
}
.other-event-participation {
    position: absolute;
    left: 54px;
    top: 330px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 18px;
    font-style: normal;
    line-height: 32px; /* 177.778% */
    letter-spacing: 0.468px;
}
.other-event-people {
    position: absolute;
    left: 25px;
    top: 334px;
}
.other-event-time {
    position: absolute;
    left: 25px;
    top: 365px;
}
[class^="fav"] {
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 65px;
    border: 0.567px solid #BCBCBC;
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.10) 1%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(15.399999618530273px);
    z-index: 6;
    cursor: pointer;
}
[class^="fav"] svg {
    position: absolute;
    left: 17px;
    top: 16px;
}
.fav-event {
    left: 468px;
    top: 572px;
}
.fav-other-event {
    left: 328px;
    top: 330px;
}
.nothing {
    position: absolute;
    left: 51px;
    top: 1284px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 42px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.404px;
    display: none;
    z-index: 7;
}
.nothing-proj {
    position: absolute;
    left: 77px;
    top: 353px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 42px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.404px;
    display: none;
    z-index: 7;
}
.chat {
    position: absolute;
    left: 1980px;
    top: 0;
    width: 1920px;
    height: 1080px;
    background: #050505;
}
@keyframes chat {
    0% {
        left: 1980px;
    }
    99.9% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}
@keyframes chat-back {
    0% {
        left: 0px;
    }
    99.9% {
        left: 1980px;
    }
    100% {
        left: 1980px;
    }
}
.dms {
    position: absolute;
    left: 65px;
    top: 134px;
    width: 474px;
    height: 897px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #121212;
}
.messages-txt {
    position: absolute;
    top: 26px;
    left: 33px;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}
.types {
    position: relative;
    left: 33px;
    top: 87px;
    margin-right: 11px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 111px;
    height: 36px;
    border-radius: 30px;
    opacity: 1;
    background-color: rgb(129, 0, 0);
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.408px;
    cursor: pointer;
    transition: background-color 500ms ease-in-out
}
.types.highlighted {
    background-color: #F00;
    transition: background-color 500ms ease-in-out;
}
.search-chat {
    left: 33px;
    top: 156px;
    width: 403px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 26.067px;
    opacity: 0.7;
}
.src-wrap-chat {
    left: 32px;
    top: 155px;
    width: 405px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 26.067px;
}
.src-icon-chat{
    position: absolute;
    left: 25.17px;
    top: 15px;
}
.placeholder-chat {
    position: absolute;
    left: 73.67px;
    top: 18.82px;
    color: #484848;
    font-family: "Polymath Demo Regular";
    font-size: 17.524px;
    font-style: normal;
    line-height: normal;
    outline: none;
    border:none;
    background: transparent;
}
.chat-user-box {
    width: 407px;
    height: 131px;
    position: relative;
    left: 33px;
    display: inline-block;
    margin-bottom: 30px;
    top: 232px;
    border-radius: 10px;
    background: #272323;
}
.chat-user-pfp {
    position: absolute;
    left: 37px;
    top: 34px;
    width: 53px;
    height: 53px;   
    background: #C4C4C4;
    border-radius: 100%;
}
.chat-user-name {
    position: absolute;
    left: 102px;
    top: 30px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}
.chat-user-sent {
    position: absolute;
    left: 102px;
    top: 68px;
    color: #FFF;
    font-family: "Polymath Demo ExtraLight";
    letter-spacing: 0.5px;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}
.chatbox {
    position: absolute;
    left: 611px;
    top: 134px;
    width: 1241px;
    height: 897px;
    border-radius: 5px;
    background: #101010;
}
.chatbox-pfp {
    position: absolute;
    left: 29px;
    top: 15px;
    width: 53px;
    height: 53px;
    background: #C4C4C4;
    border-radius: 100%;
}
.chatbox-name {
    position: absolute;
    left: 102px;
    top: 20px;
    color: #FFF;
    font-family: "Polymath Display Demo Regular";
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}
.chatbox-vc {
    position: absolute;
    left: 1123px;
    top: 20px;
    cursor: pointer;
}
.chatbox-video {
    position: absolute;
    left: 1176px;
    top: 20px;
    cursor: pointer;
}
.chatbox-seperation {
    position: absolute;
    left: 0;
    top: 83px;
    width: 1241px;
    height: 1px;
    background: #fff;
}
.chat-blockage {
    position: relative;
    left: 0px;
    top: 165px;
    height: 53px;
    width: 1201px;
    display: inline-flex;
    margin-bottom: 16px;
}
.chatbox-pfp2 {
    position: absolute;
    left: 29px;
    top: 0px;
    width: 53px;
    height: 53px;
    background: #C4C4C4;
    border-radius: 100%;
}
.chat-bubble-other {
    position: absolute;
    left: 99px;
    top: 0px;
    width: 265px;
    height: 49px;
    background: #757575;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.chat-bubble {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 49px;
    background: #F00;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-family: "Polymath Demo Bold";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.message-box {
    width: 1014px;
    height: 72px;
    position: absolute;
    left: 21px;
    top: 797px;
    border-radius: 30px;
    border: 1px solid #FFF;
}
.emojis {
    position: absolute;
    left: 21px;
    top: 16px;
    cursor: pointer;
}
.message-dialog {
    position: absolute;
    left: 90px;
    top: 21px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    width: 924px;
}
.forms {
    position: absolute;
    left: 1069px;
    top: 797px;
    width: 127px;
    height: 72px;
    border-radius: 30px;
    border: 1px solid #FFF;
}
.voice-msg {
    position: absolute;
    left: 10px;
    top: 16px;
    cursor: pointer;
}
.plus {
    position: absolute;
    left: 67px;
    top: 16px;
    cursor: pointer;
}
.chatbox-main-area {
    position: absolute;
    top: 83px;
    left: 0;
    width: 1243px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.profile {
    position: absolute;
    left: -1980px;
    top: 0;
    width: 1920px;
    height: 1080px;
    background: #050505;
}
@keyframes profile {
    0% {
        left: -1980px;
    }
    99.9% {
        left: 0;
    }
    100% {
        left: 0;
    }
}
@keyframes profile-back {
    0% {
        left: 0vw;
    }
    99.9% {
        left: -1980px;
    }
    100% {
        left: -1980px;
    }
}
.wallpaper {
    position: absolute;
    left: 0;
    top: 132px;
    z-index: 7;
}
.wallpaper-fade {
    position: absolute;
    left: 0;
    top: 132px;
    height: 488px;
    background: linear-gradient(rgba(4, 4, 4, 0.1) 1%, rgba(4, 4, 4, 1) 100%);
    z-index: 8;
    width: 1920px;
}
.user-info-box {
    position: absolute;
    left: 64px;
    top: 187px;
    width: 526px;
    height: 821px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(67, 57, 57, 0.35);
    backdrop-filter: blur(25px);
    z-index: 9;
    text-align: center;
}
.user-pfp {
    position: absolute;
    left: 185px;
    top: 103px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background: #D9D9D9;
    border-radius: 100%;
}
.username-text, .uname-replace {
    position: relative;
    top: 281px;
    color: #FFF;
    font-family: "Polymath Demo Semibold";
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}
.uname-replace {
    display: none;
    left: 0px;
    width: 100%;
    text-align: center;
}
.edit-profile {
    position: absolute;
    top: 363px;
    left: 78px;
    width: 371px;
    height: 46px;
    border-radius: 30px;
    background: rgb(179, 1, 1);
    cursor: pointer;
}
.edit-icon {
    position: absolute;
    left: 116px;
    top: 9px;
}
.edit-profile-text {
    position: absolute;
    left: 146px;
    top: 10px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.achievements-icon {
    position: absolute;
    left: 67px;
    top: 455px;
    z-index: 9;
}
.achievements {
    position: absolute;
    top: 451px;
    left: 106px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    z-index: 9;
}
.achievements-num {
    position: absolute;
    top: 451px;
    left: 437px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    z-index: 9;
}
.following-icon {
    position: absolute;
    left: 67px;
    top: 499px;
    z-index: 9;
}
.following {
    position: absolute;
    top: 496px;
    left: 106px;
    color: #FFF;
    font-family: "Polymath Demo Regular";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    z-index: 9;
}
.following-num {
    position: absolute;
    top: 496px;
    left: 437px;
    color: #FFF;
    font-family: "Polymath Demo Medium";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    z-index: 9;
}
.user-tags {
    position: relative;
    top: 535px;
    left: 69px;
    width: 420px;
    height: 30px;
    margin-bottom: 11px;
    color: rgba(255, 255, 255, 1);
    font-family: "Polymath Demo Regular";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    text-align: left;
}
.member {
    position: absolute;
    bottom: 23px;
    left: 67px;
    color: #6F6F6F;
    font-family: "Polymath Demo Medium";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.user-items {
    position: absolute;
    transform: scale(0.9);
    left: 603px;
    top: 688px;
}