@font-face {
    font-family: 'sg';
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: 'p-b';
    src: url(./fonts/Polymath_Display/PolymathDispDemo-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'p-sb';
    src: url(./fonts/Polymath_Display/PolymathDispDemo-Semibold.otf) format("opentype");
}

@font-face {
    font-family: 'p-m';
    src: url(./fonts/Polymath_Display/PolymathDispDemo-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'p-r';
    src: url(./fonts/Polymath_Display/PolymathDispDemo-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'p-el';
    src: url(./fonts/Polymath_Display/PolymathDispDemo-XLight.otf) format("opentype");
}

@font-face {
    font-family: 'p-t';
    src: url(../fonts/Polymath_Display/PolymathDispDemo-Thin.otf) format("opentype");
}

body {
    background-color: #050505;
    font-family: 'p-m';
    color: white;
    letter-spacing: -2.4%;
    overflow: hidden;
}

/* NAVIGATION MENU */

.nav {
    display: grid;
    grid-template-columns: 88% auto;
    padding: 1.5em 1.9em;
}

.nav-left {
    display: grid;
    grid-template-columns: auto auto auto;
    width: min-content;
    font-size: .7em;
    column-gap: 6.5em;
}

.nav-left .nav-link {
    margin-block-start: 0.5em;
    cursor: pointer;
}

.nav-right .nav-link {
    max-width: 1em;
    max-height: 1em;
    margin-block-end: 0.5em;
    cursor: pointer;
}

.nav-logo {
    padding-top: .3em;
    max-width: 2.9em;
    cursor: pointer;
}

.nav-right {
    align-items: flex-end;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: min-content;
    column-gap: 1.5em;
}

.round {
    border-radius: 100%;
    background: #D9D9D9;
    min-width: 1.1em;
    min-height: 1.1em;
    margin-block-end: 0.75em;
}

/* HOME */

.home {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: #050505;
}

.cards {
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 18em 13em auto;
}

.card img {
    max-height: 23em;
}

#middle {
    max-height: 18em;
}

#middle {
    padding-left: 1em;
}

#left {
    padding-top: 2em;
}

#right {
    padding-top: 2em;
}

.main-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'p-b';
    font-size: 56px;
    text-align: center;
    width: 12em;
    line-height: .8em;
}

p span {
    color: #FF0000;
    fill-opacity: 0.95;
}

.description {
    position: absolute;
    left: 2.75em;
    bottom: 2em;
    font-family: 'sg';
    font-size: 12px;
    max-width: 40em;
}

.btns {
    position: absolute;
    right: 1.8em;
    bottom: 2em;
    display: grid;
    grid-template-columns: 8em 8em auto;
}

.btn {
    margin-block-start: 0.5em;
    border-radius: 18px;
    border: 0.5px solid #565656;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'sg';
    font-size: 10px;
    width: 10em;
    height: 3.25em;
}

.search-bar {
    position: absolute;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 0.5em;
    width: inherit;
    height: inherit;
    left: 1px;
    top: 1px;
    border-radius: inherit;
}

.search-bar-wrapper {
    position: absolute;
    background: linear-gradient(#595959, #383838);
    width: 17em;
    height: 2.75em;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 1.5px 1px 0px;
}

.search-icon {
    margin-block-start: 0.7em;
    margin-inline-start: 1em;
}

input {
    background: transparent;
    border: none;
    color: #565656;
    font-family: 'p-r'
}

input:focus,
input:active {
    outline: none;
}

/* PROJECTS */

.projects {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    z-index: -1;
    display: none;
    top: 0;
    bottom: 0;
    background-color: #050505;
}

.s-nav {
    display: grid;
    padding: 2em 2.25em;
    width: 92%;
    height: 2.75em;
    grid-template-columns: 84.5% 10% 5.5%;
    column-gap: 1.5em;
}

.s-nav2 {
    display: grid;
    padding: 0em 2.25em;
    width: 94%;
    height: 2.75em;
    grid-template-columns: 94.5% 5.5%;
    column-gap: 1.5em;
    opacity: 0.6;
}

.sn-sbar,
.sn-dropdown,
.sn-filter {
    position: relative;
    width: 100%;
    height: 2.75em;
    background: linear-gradient(#595959, #383838);
    border-radius: 14px;
    box-shadow: 1px 0.75px 0px;
}

.sn-filter {
    width: 2.75em;
    height: 2.75em;
}

.sbar,
.dropdown,
.filter {
    position: absolute;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    backdrop-filter: blur(2px);
    width: inherit;
    height: inherit;
    left: 0.75px;
    top: 0.5px;
    border-radius: inherit;
    color: #FFF;
}

.sbar {
    display: grid;
    grid-template-columns: 5% 95%;
}

.dropdown {
    padding: 0 0.5em; 
    display: grid;
    grid-template-columns: 60% 40%;
}
.dropdown:focus {
    outline: none;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sbar-icon {
    margin-block-start: 0.75em;
    max-width: 1.25em;
    margin-inline-start: 1em;
}

.sbar input {
    margin-block-start: -0.7em;
    height: 5em;
    font-size: 12px;
    font-family: 'p-m';
    letter-spacing: 0.504px;
}

.drop-icon {
    margin-block-start: 1.2em;
    max-width: 0.75em;
    margin-inline-start: 1em;
    cursor: pointer;
}

.dropdown option {
    margin: 1.30em 0 0 1.35em;
    height: 5em;
    font-size: 12px;
    font-family: 'p-m';
    letter-spacing: 0.504px;
    background: #050505;
}

.filter-icon {
    max-height: 1.4em;
}

.featured {
    position: relative;
    left: 2em;
    top: 0em;
    font-family: 'p-b';
    font-size: 20px;
    letter-spacing: 0.504px;
}

.projects-container {
    position: absolute;
    left: 2.5em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 3.75em;
    row-gap: 1.5em;
}

.project {
    width: 22em;
    position: relative;
}

#pic {
    max-width: 100%;
}

.pr-tags {
    margin-block-start: 0.3em;
    width: 8em;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5em;
}

.pr-tag {
    display: flex;
    border-radius: 100px;
    border: 0.412px solid #434343;
    width: 8em;
    height: 3em;
    font-family: 'p-r';
    font-size: 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.504px;
}

.pr-name {
    margin-block-start: -0.25em;
    font-family: 'p-b';
    letter-spacing: 1px;
    font-size: 17px;
}

.pr-ppl {
    width: 4em;
    margin-block-start: -1em;
    display: grid;
    grid-template-columns: auto auto;
}

.pr-more {
    font-family: 'p-el';
    letter-spacing: 0.504px;
    font-size: 8px;
    margin-block-start: -0.5em;
}

.pr-ppl img {
    max-height: 0.75em;
}

.pr-favs {
    position: absolute;
    right: 0;
    bottom: 2.5em;
}

.pr-favs img {
    max-height: 1.25em;
    cursor: pointer;
}

.pr-favs p {
    font-family: "p-el";
    font-size: 9px;
    letter-spacing: 0.504px;
    margin-block-start: -0.45em;
    margin-inline-start: 0.275em;
}

.pr-share {
    position: absolute;
    right: 0;
    bottom: 1em;
}

.pr-share img {
    max-height: 1.25em;
    cursor: pointer;
}
.project-open {
    width: min-content;
    height: min-content;
    border-radius: 10px;
    position: fixed;
    background: #050505;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border:#282828 1px solid;
    overflow: visible;
}
.project-open .project {
    padding: 2em;
}
.blurrer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #050505;
    opacity: 0.7;
    backdrop-filter: blur(40px);
    z-index: 2;
}
.cross {
    position: fixed;
    right: .75em;
    top: .75em;
    cursor: pointer;
    z-index: 4;
}
.cross img {
    max-height: 1em;
}

/* EVENTS */

.events {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1;
    display: none;
    top: 0;
    bottom: 0;
    background-color: #050505;
}

.bg {
    position: absolute;
    top: 0;
    z-index: -1;
}

.hero-event {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 13.7em;
    left: 2em;
}

.hevt-tags {
    width: 8em;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
}

.hevt-tag {
    display: flex;
    border-radius: 100px;
    border: 0.412px solid #434343;
    width: 8em;
    height: 3em;
    font-family: 'p-r';
    font-size: 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.504px;
}

.hevt-interested {
    font-family: 'p-b';
    letter-spacing: 0.204px;
    font-size: 10px;
    color: #B4B4B4;
    margin-block-start: 0.1em;
}

.hevt-name {
    font-family: 'p-el';
    letter-spacing: 0.504px;
    font-size: 46px;
    margin-block-start: -1em;
}

.hevt-main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    margin-block-start: -1.2em;
}

.hevt-fav {
    margin-block-start: 0.5em;
    cursor: pointer;
}

.hevt-fav img {
    max-height: 2.7em;
}

.hevt-date {
    margin-block-start: -3.3em;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 13em;
    font-size: 12px;
}

.hevt-date p,
.hevt-location p {
    margin-block-start: 0em;

}

.hevt-date p {
    margin-inline-start: 1em;
}

.hevt-location {
    margin-block-start: -0.5em;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 15.9em;
    font-size: 12px;
}

.hevt-location p {
    margin-inline-start: .55em;
}

.hevt-btn {
    margin-block-start: 1.5em;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    border: 0.567px solid #595959;
    background: #050505;
    width: 12em;
    height: 3em;
    border-radius: 17px;
    opacity: 0.8;
    font-family: 'p-r';
    cursor: pointer;
}

.details {
    margin-inline-start: 1.4em;
    margin-block-start: 0.8em;
}

.hevt-btn img {
    max-height: 1.5em;
    margin-inline-start: 2em;
    margin-block-start: 1.05em;
}

.about-event {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    height: 16.5em;
    width: 25.5em;
    backdrop-filter: blur(14.300000190734863px);
    background: linear-gradient(91deg, rgba(255, 255, 255, 0.15) 1%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 19px;
}

.about-text {
    font-family: 'p-el';
    letter-spacing: 0.504px;
    font-size: 16px;
    margin-inline-start: 2em;
    margin-block-start: 1.75em;
}

.about-description {
    font-family: 'p-el';
    letter-spacing: 0.504px;
    font-size: 12px;
    margin-inline-start: 2.75em;
    width: 88%;
}

.about-files-txt {
    font-family: 'p-el';
    letter-spacing: 0.504px;
    font-size: 16px;
    margin-inline-start: 2em;
}

.about-files {
    margin-inline-start: 2em;
    width: 80%;
    height: 18.5%;
    border-radius: 100px;
    background: linear-gradient(91deg, #090909 1%, #070707 100%);
    display: grid;
    grid-template-columns: 11% 68% 21%;
    column-gap: 1em;
    opacity: 0.6;
}

.file,
.download {
    height: 1.2em;
    margin-block-start: 0.8em
}

.file {
    margin-inline-start: 1em;
}

.download {
    cursor: pointer;
}

.brochure {
    margin-block-start: 1.1em;
    font-family: 'p-m';
    font-size: 14px;
}

.all-events {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5 em;
    bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.25em;
    font-size: 13px;
}

.all-events img {
    max-height: 0.6em;
}

.events .bg {
    max-height: 50em;
}

.evt-ctgories {
    display: grid;
    position: absolute;
    left: 2em;
    width: 86.5%;
    height: 3em;
    top: 105%;
    background: #282828;
    border-radius: 50px;
    grid-template-columns: auto auto auto auto auto auto auto;
    z-index: 1;
}

.evt-ctgory {
    display: grid;
    grid-template-columns: 20% 80%;
    font-family: 'p-r';
    font-size: 14px;
    line-height: 0em;
    margin-block-start: 1.125em;
    margin-inline-start: 1.8em;
    cursor: pointer;
}

.evt-ctgory p {
    margin-block-start: 0.7em;
}

.evt-ctgory img {
    max-height: 1.125em;
    margin-block-start: .0625em;
}

.evt-selected {
    position: absolute;
    border-radius: 50px;
    background: #050505;
    top: 50%;
    transform: translateY(-50%);
    width: 9em;
    height: 80%;
    left: 0.5em;
    z-index: -1;
    display: none;
}

.event-container {
    display: grid;
    position: absolute;
    top: 120%;
    left: 2em;
    width: min-content;
    grid-template-columns: auto auto auto auto;
    column-gap: 1em;
    row-gap: 2em;
}

.event {
    position: relative;
    width: 17em;
    height: 17em;
    background: #282828;
    border-radius: 15px;
    line-height: 0.25em;
}

.evt-banner {
    width: 100%;
    height: 25%;
    background: #515151;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.evt-pic {
    position: absolute;
    left: 1em;
    top: 1.5em;
    width: 5.5em;
    height: 5.5em;
    background: #050505;
    border-radius: 100%;
    box-shadow: 0 1px 2px #050505;
}

.evt-status {
    margin-inline-start: 1.5em;
    margin-block-start: 5.25em;
    font-size: 12px;
    letter-spacing: 0.504px;
}

.evt-name {
    margin-inline-start: 1em;
    font-size: 18px;
    letter-spacing: 0.504px;
    margin-block-start: 1em;
}

.evt-desc {
    margin-inline-start: 1.5em;
    font-family: 'p-el';
    font-size: 12px;
    letter-spacing: 0.3px;
    margin-block-start: 0.75em;
}

.evt-applied,
.evt-time {
    margin-inline-start: 1.25em;
    line-height: 0em;
    display: grid;
    grid-template-columns: 10% 90%;
}

.evt-applied {
    margin-block-start: 2em;
}

.evt-time {
    margin-block-start: 0em;
}

.evt-applied p,
.evt-time p {
    font-size: 12px;
}

.evt-applied img,
.evt-time img {
    margin-block-start: 0.125em;
    max-height: 1.25em;
}

.evt-fav {
    position: absolute;
    right: 1.25em;
    bottom: 1.25em;
    cursor: pointer;
}

.evt-fav img {
    max-height: 2.5em;
}

/* CHAT */

.chat {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    display: none;
    top: 0;
    bottom: 0;
    background-color: #050505;
}

.chat-container {
    display: grid;
    padding: 0 2em;
    width: 90%;
    height: 80%;
    grid-template-columns: 25% 5% 70%;
}

.msgs-container {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background: #101010;
    line-height: 0em;
}

.msgs-text {
    padding: 0.5em 0em;
    font-size: 18px;
    text-align: center;
}

.s-nav3 {
    margin-inline-start: 50%;
    transform: translateX(-50%);
    width: 88%;
    height: 2.75em;
    opacity: 0.6;
}

.sbar-text {
    margin-inline-start: 2.5em;
}

.grps {
    display: grid;
    row-gap: 1em;
    width: 100%;
    margin-block-start: 2em;
}

.grp {
    width: 90%;
    height: 4em;
    border-radius: 10px;
    margin-inline-start: 50%;
    transform: translateX(-50%);
    background: #242424;
    display: grid;
    grid-template-columns: 20% 80%;
    line-height: 0em;
}

.grp-pic {
    margin-inline-start: 0.5em;
    margin-block-start: 1em;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    background: #D9D9D9;
}

.grp-name {
    margin-block-start: 1.6em;
}

.chats {
    height: 100%;
    width: 100%;
    background: #101010;
    border-radius: 10px;
    position: relative;
}

.details-receiver {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 5% 79% 3% 3%;
    column-gap: 1em;
    line-height: 0em;
}

.rcver-pic {
    width: 1.625em;
    height: 1.625em;
    border-radius: 100%;
    background: #D9D9D9;
    margin-block-start: 0.875em;
    margin-inline-start: 0.875em;
}

.rcver-name {
    margin-block-start: 0.75em;
}

.rcver-vc,
.rcver-video {
    margin-block-start: 0.875em;
}

.rcver-vc img,
.rcver-video img {
    max-height: 1.5em;
}

.msg {
    width: 100%;
    height: 10%;
    margin-block-start: 1em;
    display: grid;
    column-gap: 1em;
    grid-template-columns: 5% 95%;
}

#rcv {
    direction: ltr;
    float: left;
}

#s {
    direction: rtl;
    float: right;
}

.msg-pic {
    width: 1.75em;
    height: 1.75em;
    border-radius: 100%;
    background: #D9D9d9;
    margin-block-start: .125em;
    margin-inline-start: 1.5em;
}

.msg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: 2em;
    text-wrap: nowrap;
    padding: 0 1.5em;
    border-radius: 15px;
}

#rcv-pic {
    float: left;
}

#rcv-msg {
    float: left;
    background: #757575;
}

#s-pic {
    float: right;
}

#s-msg {
    float: right;
    background: rgb(189, 0, 0);
}

.m-bar {
    position: absolute;
    bottom: 1em;
    display: grid;
    grid-template-columns: 80% 12.5%;
    column-gap: 1em;
    height: 2.5em;
    left: 6.875%;
    width: 90%;
    line-height: 0em;
}

.mt,
.ma {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.15) 1px solid;
    display: flex;
    align-items: center;
    flex-direction: center;
}

.mt * {
    margin-inline-start: 0.5em;
}

.ma * {
    margin-inline-start: 1em;
}

.mt input {
    margin-block-start: 0.125em;
    width: 95%;
}

.mt img,
.ma img {
    max-height: 1.25em;
    cursor: pointer;
}

/* LOGIN */

.lsimg img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 50vw;
    opacity: 0.7;
}

.content-div {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
}
.content-div * {
    width: min-content;
    height: min-content;
    margin-inline-start: 50%;
    transform: translate(-50%);
    text-wrap: nowrap;
}
.lslogo {
    margin-block-start: 5%;
}
.lslogo img {
    height: 2em;
}
.lsdtc {
    font-family: 'p-sb';
    font-size: 12px;
}
.lswlc {
    font-family: 'p-b';
    font-size: 14px;
    letter-spacing: 0.804px;
}
.login input[type="text"], .login input[type="password"] {
    border-bottom: 1px #C4C4C4 solid;
    width: 24em;
    height: 2em;
    font-family: 'p-r';
    font-size: 12px;
    opacity: 0.7;
}
#lsuname {
    margin-block-start: 2.5%;
}
.lsforgot {
    font-size: 12px;
    font-family: 'p-el';
    letter-spacing: 0.504px;
}
.login input[type="submit"] {
    width: 18em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #050505;
    border-radius: 100px;
    background: #f0f0f0;
    cursor: pointer;
}
.login form {
    line-height: 2.5em;
}
.sociallogin {
    width: 14em;
    height: 2.25em;
    display: grid;
    grid-template-columns: 10% 90%;
    background:#383838;
    border-radius: 100px;
    margin-block-start: 5%;
}
#google-login img {
    margin-block-start: 0.375em;
    height: 1.5em;
}
#discord-login img {
    height: 1em;
    margin-block-start: 0.625em;
}
.sociallogin img {
    margin-inline-start: 1.5em;
}
.sociallogin p {
    margin-block-start: 0.5em;
}
.redir-sign-up {
    margin-block-start: 5%;
    text-decoration: none;
    color: #FFF;
}
.redir-sign-up p span {
    margin-inline-start: 0em;
}
.lsforgot span {
    margin-inline-start: 0em;
}
.back {
    position: absolute;
    top: 1em;
    left: 51vw;
}
.back img {
    max-height: 1em;
}

/* NOTIFICATIONS */

.notifications {
    position: absolute;
    top: 4em;
    right: 3em;
    width: 17.5em;
    height: 20em;
    background:rgb(64, 64, 64);
    border-radius: 10px;
    display: none;
    z-index: 2;
    overflow-y: auto;
}
.notif-del {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}
.notif-del img {
    max-height: 1em;
}
.notification {
    position: relative;
    margin-bottom: 1em;
    line-height: 0em;
    display: grid;
    margin-inline-start: 1em;
    margin-block-start: 1.5em;
    grid-template-columns: 10% 90%;
}
.notif-text {
    margin-inline-start: 1em;
    margin-block-start: 0.5em;
    font-family: 'p-b';
    font-size: 16px;
    letter-spacing: 0.504px;
}
.notif-pic {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    background: #D9D9D9;
}
.notif-det {
    font-family: 'p-r';
    font-size: 12px;
    letter-spacing: 0.504px;
    margin-inline-start: 1em;
    margin-block-start: 0.25em;
}

/* WATCHLIST */

.watchlist {
    position: absolute;
    top: 4em;
    right: 10.5em;
    width: 17.5em;
    height: 20em;
    background:rgb(64, 64, 64);
    border-radius: 10px;
    z-index: 2;
    display: none;
    overflow-y:auto;
}
.watch-txt {
    margin-block-start:1em;
    margin-inline-start: 1em;
    font-family: 'p-b';
    font-size: 24px;
    letter-spacing: 0.504px;
}
.watch-proj, .watch-eve {
    margin-block-start:1.5em;
    margin-inline-start: 1.5em;
    font-family: 'p-sb';
    font-size: 18px;
    letter-spacing: 0.504px;
}

.watch-project, .watch-event {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10% 90%;
    line-height: 0em;
    margin-bottom: 0.5em;
}
.watch-projpic, .watch-evepic {
    background: #D9D9D9;
    width: 2em;
    height: 2em;
    border-radius: 100%;
}
.watch-projname, .watch-evename {
    font-family: 'p-r';
    font-size: 12px;
    letter-spacing: 0.504px;
    margin-inline-start: 1.5em;
    margin-block-start: 0.5em;
}