<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Tech Circuit</title><link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="nav">
        <div class="nav-left">
            <div class="nav-item">
                <img src="/static/imgs/logo.svg" class="nav-logo" alt="">
            </div>
            <div class="nav-item">
                <p class="nav-link">PROJECTS</p>
            </div>
            <div class="nav-item">
                <p class="nav-link">EVENTS</p>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-item">
                <img src="/static/imgs/heart.svg" alt="" class="nav-link">
            </div>
            <div class="nav-item">
                <img src="/static/imgs/chat.svg" alt="" class="nav-link">
            </div>
            <div class="nav-item" style = "display:none;">
                <img src="/static/imgs/notifications-active.svg" alt="" class="nav-link" id = "active">
            </div>
            <div class="nav-item">
                <img src="/static/imgs/notifications-inactive.svg" alt="" class="nav-link" id = "inactive">
            </div>
            <div class="nav-item">
                <div class="round"></div>
            </div>
        </div>
    </div>
    <div class="home">
        <img src="/static/imgs/homebg.svg" class="bg" alt="">
        <div class="cards">
            <div class="card">
                <img src="/static/imgs/left.svg" alt="" id="left">
            </div>
            <div class="card">
                <img src="/static/imgs/middle.svg" alt="" id="middle">
            </div>            
            <div class="card">
                <img src="/static/imgs/right.svg" alt="" id="right">
            </div>
        </div>
        <div class="main-text">
            <p>The network for <span>tech clubs</span> and <span>enthusiasts</span> across Delhi NCR</p>
        </div>
        <div class="description">
            <p>A student community for tech enthusiasts, coders, and designers to network, collaborate, share projects and events, and find valuable resources</p>
        </div>
        <div class="btns">
            <div class="btn">
                <span>RESOURCES</span>
            </div>
            <div class="btn">
                <span>DISCORD</span>
            </div>
        </div>
    </div> 
</body>

</html>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js" integrity="sha256-u0L8aA6Ev3bY2HI4y0CAyr9H8FRWgX4hZ9+K7C2nzdc=" crossorigin="anonymous"></script>
<script>
    window.__ow = window.__ow || {};
    window.__ow.organizationId = "1f2f4344-b23a-4cad-9131-c541d7f83119";
    window.__ow.template_id = "e14baa04-449c-4038-b4f2-b5fba676f51a";
    window.__ow.integration_name = "manual_settings";
    window.__ow.product_name = "chatbot";   
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[OpenWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.openwidget.com/openwidget.js",t.head.appendChild(n)}};!n.__ow.asyncInit&&e.init(),n.OpenWidget=n.OpenWidget||e}(window,document,[].slice))
  </script>
  <noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
  <!-- End of ChatBot code -->
<script src="/static/main.js"></script>
