<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Tech Circuit</title><link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login">
        <div class="lsimg">
            <img src="../static/imgs/sign-up.svg" alt="">
        </div>
        <div class="content-div">
            <div class="lslogo">
                <img src="../static/imgs/logo.svg" alt="">
            </div>
            <div class="lsdtc">
                <p>DELHI TECH CIRCUIT</p>
            </div>
            <div class="lswlc">
                <p>Lets do this</p>
            </div>
            <form action="#" method = "post">
                <input type="text" id = "lsuname" placeholder="Username or E-Mail" name = "username"><br>
                <input type="password" id = "lspass" placeholder="Password" name = "password">
                <p class="lsforgot">By creating an <span>account</span>, you accept our terms</p>
                <input type="submit" id ="lssubmit" value = "Log In">
            </form>
            <div class="sociallogin" id = "google-login">
                <img src="../static/imgs/google.svg" alt="">
                <p>Continue with Google</p>
            </div>
            <div class="sociallogin" id="discord-login">
                <img src="../static/imgs/discord.svg" alt="">
                <p>Continue with Discord</p>
            </div>
        </div>
        <a class="back" href = "/">
            <img src="../static/imgs/back.svg" alt="">
        </a>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js" integrity="sha256-u0L8aA6Ev3bY2HI4y0CAyr9H8FRWgX4hZ9+K7C2nzdc=" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
